
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap') format('woff2');
  font-display: swap;
}
